<h1>Sin Pipe: {{titulo}}</h1> 
<h1>Con Pipe lowercase: {{titulo | lowercase}}</h1> 
<h1>Con Pipe uppercase: {{titulo | uppercase}}</h1> 
<h1>Con Pipe titlecase: {{titulo | titlecase}}</h1> 

<br>

<h1>Con Pipe currency formating: {{dinero | currency : "JPY" : "Yen "}}</h1>
<h1>Fecha: {{fecha | date: "dd-MM-YYYY"}}</h1>
<h1>Fecha: {{fecha | date: "mediumDate"}}</h1>
<h1>Fecha: {{fecha | date }}</h1>
<h1>Porcentaje de vida {{porcentaje | percent}}</h1>
<h1>Dinero custom: {{dinero | pipaPersonalizada}}</h1>


