<div class="card mb-3 tarjeta-coche">
    <div class="row g-0">
      <div class="col-6">
        <div class="card-body">
          <h5 class="card-title">{{nombreCoche}}</h5>
          <span class="precio-coche badge rounded-pill text-bg-dark fs-5">
            {{precioHora}} / €
            </span>
        </div>
      </div>
      <div class="col-6">
        <img [src]="imgRoute" 
            class="img-fluid rounded-start" 
            alt="Imagen de un vehículo">
      </div>
    </div>
  </div>
