<div class="card mb-3" style="width: 350px;">
    <div class="row g-0">
      @if(pokemon){
      <div class="col-md-4">
          <img 
          [src]="initPokemon(pokemon[0]!.id)" 
          class="img-fluid rounded-start" 
          [alt]="pokemon[0]!.name"
          style="width: 200px;">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <ngb-progressbar class="mb-3" [type]="getProgressColor()" textType="white" [value]="pokemonHealth" [showValue]="true" />
          <h5 class="card-title">{{pokemon[0]!.name | titlecase}}</h5>
          <button type="button" class="btn btn-danger mt-3" name="btn-attack" (click)="sendAttack()">Atacar</button>
        </div>
      </div>

        }
    </div>
  </div>
