<div class="card mb-3" style="width: 350px;">
    <div class="row g-0">
      @if(pokemon){
      <div class="col-md-4 align-content-center">
          <ng-lottie [options]="options" (animationCreated)="animationCreated($event)" />
          <img 
          [src]="initPokemon(pokemon[0]!.id)" 
          class="img-fluid rounded-start" 
          [alt]="pokemon[0]!.name"
          style="width: 200px;">
      </div>
      <div class="col-md-8">
        <div class="card-body text-center justify-content-center align-content-center">
          <ngb-progressbar class="mb-3" [type]="getProgressColor()" textType="white" [value]="pokemonHealth" [showValue]="true" />
          <h5 class="card-title">{{pokemon[0]!.name | titlecase}}</h5>
          <button class="pushable" name="btn-attack" (click)="sendAttack()">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front"> Atacar </span>
          </button>

        </div>
      </div>

        }
    </div>
  </div>
