<mat-checkbox class="" (change)='update("alumnoId" , 0)' checked="true">Id alumno</mat-checkbox>
<mat-checkbox class="" (change)='update("nombre" , 1)' checked="true">Nombre alumno</mat-checkbox>
<mat-checkbox class="" (change)='update("apellidos" , 2)' checked="true">Apellidos alumno</mat-checkbox>
<mat-checkbox class="" (change)='update("nif" , 3)' checked="true">NIF alumno</mat-checkbox>
<mat-checkbox class="" (change)='update("edad" , 4)' checked="true">Edad alumno</mat-checkbox>
<mat-checkbox class="" (change)='update("curso" , 5)' checked="true">Curso alumno</mat-checkbox>



<table mat-table [dataSource]="listadoAlumnos" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="alumnoId">
      <th mat-header-cell *matHeaderCellDef> Id Alumno </th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.alumnoId}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.nombre}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef> Apellidos </th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.apellidos}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="nif">
      <th mat-header-cell *matHeaderCellDef> NIF </th>
      <td mat-cell *matCellDef="let alumno"> {{alumno.nif}} </td>
    </ng-container>

    
    <ng-container matColumnDef="edad">
        <th mat-header-cell *matHeaderCellDef> Edad </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.edad}} </td>
    </ng-container>

    
    <ng-container matColumnDef="curso">
        <th mat-header-cell *matHeaderCellDef> Curso </th>
        <td mat-cell *matCellDef="let alumno"> {{alumno.curso}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
  </table>
  
  